In [1]:
# Import libraries
import pandas as pd
import os
import numpy as np
import math

# Set working directory
os.chdir('C:\\Users\\aaron\\Desktop\\GitHub\\Thesis\\Python')

In [2]:
# Import data, just one year
time = ['9899', '9900', '0001', '0102', '0203', '0304', '0405', '0506', '0607', 
        '0708', '0809', '0910', '1011', '1112', '1213', '1314', '1415', '1516', 
        '1617', '1718', '1819', '1920', '2021', '2122']

dataframes = {}

for i in time:
    filename = f'SP1{i}.csv'
    
    filepath = os.path.join(r'Data\FootballUK', filename)
    
    # Import data and keep variables of interest
    df = pd.read_csv(filepath)
        
    if i == '9899' or i == '9900' or i == '0001' or i == '0102' or i == '0203' or i == '0304' or i == '0405':
        df = df[['Date', 'HomeTeam', 'AwayTeam', 'FTR', 'FTHG', 'FTAG']]
    else:
        df = df[['Date', 'HomeTeam', 'AwayTeam', 'FTR', 'FTHG', 'FTAG', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR']]
    
    df['Season'] = i

    dataframes[filename] = df

In [3]:
data = pd.concat(dataframes.values(), ignore_index = True)

In [4]:
# Generate Year variable and fill according to the Season 
data.loc[data['Season'] == '9899', 'Year'] = 1998
data.loc[data['Season'] == '9900', 'Year'] = 1999
data.loc[data['Season'] == '0001', 'Year'] = 2000
data.loc[data['Season'] == '0102', 'Year'] = 2001
data.loc[data['Season'] == '0203', 'Year'] = 2002
data.loc[data['Season'] == '0304', 'Year'] = 2003
data.loc[data['Season'] == '0405', 'Year'] = 2004
data.loc[data['Season'] == '0506', 'Year'] = 2005
data.loc[data['Season'] == '0607', 'Year'] = 2006
data.loc[data['Season'] == '0708', 'Year'] = 2007
data.loc[data['Season'] == '0809', 'Year'] = 2008
data.loc[data['Season'] == '0910', 'Year'] = 2009
data.loc[data['Season'] == '1011', 'Year'] = 2010
data.loc[data['Season'] == '1112', 'Year'] = 2011
data.loc[data['Season'] == '1213', 'Year'] = 2012
data.loc[data['Season'] == '1314', 'Year'] = 2013
data.loc[data['Season'] == '1415', 'Year'] = 2014
data.loc[data['Season'] == '1516', 'Year'] = 2015
data.loc[data['Season'] == '1617', 'Year'] = 2016
data.loc[data['Season'] == '1718', 'Year'] = 2017
data.loc[data['Season'] == '1819', 'Year'] = 2018
data.loc[data['Season'] == '1920', 'Year'] = 2019
data.loc[data['Season'] == '2021', 'Year'] = 2020
data.loc[data['Season'] == '2122', 'Year'] = 2021

# Standarize the names of the teams
team = ['HomeTeam', "AwayTeam"]
for i in team:
    data[i] = data[i].str.replace('Alaves', 'Alavés')
    data[i] = data[i].str.replace('Almeria', 'Almería')
    data[i] = data[i].str.replace('Ath Bilbao', 'Athletic Club')
    data[i] = data[i].str.replace('Ath Madrid', 'Atlético Madrid')
    data[i] = data[i].str.replace('Cadiz', 'Cádiz')
    data[i] = data[i].str.replace('Celta', 'Celta Vigo')
    data[i] = data[i].str.replace('Córdoba CF', 'Córdoba')
    data[i] = data[i].str.replace('Espanol', 'Espanyol')
    data[i] = data[i].str.replace('Gimnastic', 'Gimnàstic')
    data[i] = data[i].str.replace('Hercules', 'Hércules')
    data[i] = data[i].str.replace('La Coruna', 'La Coruña')
    data[i] = data[i].str.replace('Leganes', 'Leganés')
    data[i] = data[i].str.replace('Malaga', 'Málaga')
    data[i] = data[i].str.replace('Murcia', 'Real Murcia')
    data[i] = data[i].str.replace('Real Oviedo', 'Oviedo')
    data[i] = data[i].str.replace('Santander', 'Racing Sant')
    data[i] = data[i].str.replace('Sociedad', 'Real Sociedad')
    data[i] = data[i].str.replace('Sp Gijon', 'Sporting Gijón')
    data[i] = data[i].str.replace('Vallecano', 'Rayo Vallecano')

In [5]:
data

,Date,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Season,HF,AF,HY,AY,HR,AR,Year
0,29/08/1998,Alavés,Betis,D,0,0,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0
1,29/08/1998,Valencia,Atlético Madrid,H,1,0,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0
2,30/08/1998,Celta Vigo,La Coruña,D,0,0,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0
3,30/08/1998,Espanyol,Tenerife,H,2,1,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0
4,30/08/1998,Extremadura,Valladolid,D,0,0,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9115,22/05/2022,Granada,Espanyol,D,0,0,2122,9.0,12.0,1.0,0.0,0.0,0.0,2021.0
9116,22/05/2022,Osasuna,Mallorca,A,0,2,2122,8.0,14.0,2.0,2.0,0.0,0.0,2021.0
9117,22/05/2022,Barcelona,Villarreal,A,0,2,2122,12.0,7.0,3.0,1.0,0.0,0.0,2021.0
9118,22/05/2022,Sevilla,Athletic Club,H,1,0,2122,13.0,12.0,3.0,3.0,0.0,0.0,2021.0
9119,22/05/2022,Real Sociedad,Atlético Madrid,A,1,2,2122,16.0,11.0,4.0,2.0,0.0,0.0,2021.0

In [6]:
data.rename(columns={'FTHG': 'FinalGHome', 'FTAG' : 'FinalGAway', 
                     'FTR' : 'FullTime', 'HF' : 'homefouls',
                     'AF' : 'awayfouls', 'AY' : 'awayYellow',
                     'HY' : 'homeYellow', 'AR' : 'awayRed',
                     'HR' : 'homeRed'}, inplace= True)

In [7]:
data['P'] = data['HomeTeam'] + " vs " + data['AwayTeam']

In [8]:
type(data['Date'])

pandas.core.series.Series

In [9]:
data

,Date,HomeTeam,AwayTeam,FullTime,FinalGHome,FinalGAway,Season,homefouls,awayfouls,homeYellow,awayYellow,homeRed,awayRed,Year,P
0,29/08/1998,Alavés,Betis,D,0,0,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,Alavés vs Betis
1,29/08/1998,Valencia,Atlético Madrid,H,1,0,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,Valencia vs Atlético Madrid
2,30/08/1998,Celta Vigo,La Coruña,D,0,0,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,Celta Vigo vs La Coruña
3,30/08/1998,Espanyol,Tenerife,H,2,1,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,Espanyol vs Tenerife
4,30/08/1998,Extremadura,Valladolid,D,0,0,9899,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,Extremadura vs Valladolid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9115,22/05/2022,Granada,Espanyol,D,0,0,2122,9.0,12.0,1.0,0.0,0.0,0.0,2021.0,Granada vs Espanyol
9116,22/05/2022,Osasuna,Mallorca,A,0,2,2122,8.0,14.0,2.0,2.0,0.0,0.0,2021.0,Osasuna vs Mallorca
9117,22/05/2022,Barcelona,Villarreal,A,0,2,2122,12.0,7.0,3.0,1.0,0.0,0.0,2021.0,Barcelona vs Villarreal
9118,22/05/2022,Sevilla,Athletic Club,H,1,0,2122,13.0,12.0,3.0,3.0,0.0,0.0,2021.0,Sevilla vs Athletic Club
9119,22/05/2022,Real Sociedad,Atlético Madrid,A,1,2,2122,16.0,11.0,4.0,2.0,0.0,0.0,2021.0,Real Sociedad vs Atlético Madrid

In [10]:
# Now let's import the Odds data,c lean it and manage it
# Import data, just one year
time = ['9899', '9900', '0001', '0102', '0203', '0304', '0405', '0506', '0607', 
        '0708', '0809', '0910', '1011', '1112', '1213', '1314', '1415', '1516', 
        '1617', '1718', '1819', '1920', '2021', '2122']

dataodds = {}

for i in time:
    filename = f'SP1{i}.csv'
    
    filepath = os.path.join(r'Data\FootballUK', filename)
    
    # Import data and keep variables of interest
    dfo = pd.read_csv(filepath)        
    dfo['Season'] = i

    dataodds[filename] = dfo

In [11]:
dfo.columns.values

array(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG',
       'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF',
       'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A',
       'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD', 'MaxA',
       'AvgH', 'AvgD', 'AvgA', 'B365CH', 'B365CD', 'B365CA', 'BWCH',
       'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA',
       'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD',
       'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA', 'AHCh', 'B365CAHH', 'B365CAHA',
       'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA',
       'Season'], dtype=object)

In [12]:
odds = pd.concat(dataodds.values(), ignore_index = True)
odds = odds[['Date', 'HomeTeam', 'AwayTeam', 'IWH', 'IWA', 'IWD', 'Season']]
odds

            Date     HomeTeam    AwayTeam   IWH   IWA   IWD Season
0     29/08/1998       Alaves       Betis   NaN   NaN   NaN   9899
1     29/08/1998     Valencia  Ath Madrid   NaN   NaN   NaN   9899
2     30/08/1998        Celta   La Coruna   NaN   NaN   NaN   9899
3     30/08/1998      Espanol    Tenerife   NaN   NaN   NaN   9899
4     30/08/1998  Extremadura  Valladolid   NaN   NaN   NaN   9899
...          ...          ...         ...   ...   ...   ...    ...
9115  22/05/2022      Granada     Espanol  1.43  7.50  4.60   2122
9116  22/05/2022      Osasuna    Mallorca  3.55  2.10  3.40   2122
9117  22/05/2022    Barcelona  Villarreal  2.15  3.05  3.85   2122
9118  22/05/2022      Sevilla  Ath Bilbao  2.55  2.80  3.30   2122
9119  22/05/2022     Sociedad  Ath Madrid  2.65  2.80  3.20   2122

[9120 rows x 7 columns]

In [13]:
# Generate Year variable and fill according to the Season 
odds.loc[odds['Season'] == '9899', 'Year'] = 1998
odds.loc[odds['Season'] == '9900', 'Year'] = 1999
odds.loc[odds['Season'] == '0001', 'Year'] = 2000
odds.loc[odds['Season'] == '0102', 'Year'] = 2001
odds.loc[odds['Season'] == '0203', 'Year'] = 2002
odds.loc[odds['Season'] == '0304', 'Year'] = 2003
odds.loc[odds['Season'] == '0405', 'Year'] = 2004
odds.loc[odds['Season'] == '0506', 'Year'] = 2005
odds.loc[odds['Season'] == '0607', 'Year'] = 2006
odds.loc[odds['Season'] == '0708', 'Year'] = 2007
odds.loc[odds['Season'] == '0809', 'Year'] = 2008
odds.loc[odds['Season'] == '0910', 'Year'] = 2009
odds.loc[odds['Season'] == '1011', 'Year'] = 2010
odds.loc[odds['Season'] == '1112', 'Year'] = 2011
odds.loc[odds['Season'] == '1213', 'Year'] = 2012
odds.loc[odds['Season'] == '1314', 'Year'] = 2013
odds.loc[odds['Season'] == '1415', 'Year'] = 2014
odds.loc[odds['Season'] == '1516', 'Year'] = 2015
odds.loc[odds['Season'] == '1617', 'Year'] = 2016
odds.loc[odds['Season'] == '1718', 'Year'] = 2017
odds.loc[odds['Season'] == '1819', 'Year'] = 2018
odds.loc[odds['Season'] == '1920', 'Year'] = 2019
odds.loc[odds['Season'] == '2021', 'Year'] = 2020
odds.loc[odds['Season'] == '2122', 'Year'] = 2021

# Standarize the names of the teams
for i in team:
    odds[i] = odds[i].str.replace('Alaves', 'Alavés')
    odds[i] = odds[i].str.replace('Almeria', 'Almería')
    odds[i] = odds[i].str.replace('Ath Bilbao', 'Athletic Club')
    odds[i] = odds[i].str.replace('Ath Madrid', 'Atlético Madrid')
    odds[i] = odds[i].str.replace('Cadiz', 'Cádiz')
    odds[i] = odds[i].str.replace('Celta', 'Celta Vigo')
    odds[i] = odds[i].str.replace('Córdoba CF', 'Córdoba')
    odds[i] = odds[i].str.replace('Espanol', 'Espanyol')
    odds[i] = odds[i].str.replace('Gimnastic', 'Gimnàstic')
    odds[i] = odds[i].str.replace('Hercules', 'Hércules')
    odds[i] = odds[i].str.replace('La Coruna', 'La Coruña')
    odds[i] = odds[i].str.replace('Leganes', 'Leganés')
    odds[i] = odds[i].str.replace('Malaga', 'Málaga')
    odds[i] = odds[i].str.replace('Murcia', 'Real Murcia')
    odds[i] = odds[i].str.replace('Real Oviedo', 'Oviedo')
    odds[i] = odds[i].str.replace('Santander', 'Racing Sant')
    odds[i] = odds[i].str.replace('Sociedad', 'Real Sociedad')
    odds[i] = odds[i].str.replace('Sp Gijon', 'Sporting Gijón')
    odds[i] = odds[i].str.replace('Vallecano', 'Rayo Vallecano')

In [16]:
odds['Partido'] = odds['HomeTeam'] + " vs " + odds['AwayTeam']
odds

,Date,HomeTeam,AwayTeam,IWH,IWA,IWD,Season,Year,Partido
0,29/08/1998,Alavés,Betis,NaN,NaN,NaN,9899,1998.0,Alavés vs Betis
1,29/08/1998,Valencia,Atlético Madrid,NaN,NaN,NaN,9899,1998.0,Valencia vs Atlético Madrid
2,30/08/1998,Celta Vigo,La Coruña,NaN,NaN,NaN,9899,1998.0,Celta Vigo vs La Coruña
3,30/08/1998,Espanyol,Tenerife,NaN,NaN,NaN,9899,1998.0,Espanyol vs Tenerife
4,30/08/1998,Extremadura,Valladolid,NaN,NaN,NaN,9899,1998.0,Extremadura vs Valladolid
...,...,...,...,...,...,...,...,...,...
9115,22/05/2022,Granada,Espanyol,1.43,7.50,4.60,2122,2021.0,Granada vs Espanyol
9116,22/05/2022,Osasuna,Mallorca,3.55,2.10,3.40,2122,2021.0,Osasuna vs Mallorca
9117,22/05/2022,Barcelona,Villarreal,2.15,3.05,3.85,2122,2021.0,Barcelona vs Villarreal
9118,22/05/2022,Sevilla,Athletic Club,2.55,2.80,3.30,2122,2021.0,Sevilla vs Athletic Club
9119,22/05/2022,Real Sociedad,Atlético Madrid,2.65,2.80,3.20,2122,2021.0,Real Sociedad vs Atlético Madrid