In [1]:
# Import libraries
import pandas as pd
import os
import numpy as np

# Set working directory
os.chdir('C:\\Users\\aaron\\Desktop\\GitHub\\Thesis\\Python')

In [2]:
penalties = {}

for t in range(0, 6):
    
    # Import data with just the penalties that have been taken
    penalties[t] = pd.read_excel('Data\Transfermkt\penales.xlsx', sheet_name = t)
    
    # Drop the ros that have NaN value for the column "Unnamed: 5"
    penalties[t] = penalties[t][penalties[t]['Unnamed: 5'].notna()]
    
    # Keep only certain variables and rename them
    penalties[t] = penalties[t][['Date', 'HomeTeam', 'AwayTeam', 'PenAtt']]
    penalties[t] = penalties[t].rename(columns = {'PenAtt' : 'TeamPenAtt'})
    
    # Generate Partido variable
    penalties[t]['Partido'] = penalties[t]['HomeTeam'] + ' vs ' + penalties[t]['AwayTeam']
    
    # Numeric penalty variable
    penalties[t]['Penatt'] = 1
    
    # Aggregate data by the variables in GroupBy
    penalties[t] = penalties[t].groupby(['Date', 'Partido', 'TeamPenAtt', 'HomeTeam', 'AwayTeam']).agg({
        'Penatt' : 'sum'}).reset_index()
    
    #Define Year variable
    penalties[t]['Year'] = t+1998

In [3]:
# Concat all the data in one dataframe
penalties = pd.concat(penalties.values(), ignore_index = True)
penalties

,Date,Partido,TeamPenAtt,HomeTeam,AwayTeam,Penatt,Year
0,1998-08-30,RCD Espanyol Barcelona vs CD Tenerife,CD Tenerife,RCD Espanyol Barcelona,CD Tenerife,1,1998
1,1998-09-12,Atlético de Madrid vs UD Salamanca (- 2013),Atlético de Madrid,Atlético de Madrid,UD Salamanca (- 2013),1,1998
2,1998-09-12,Deportivo de La Coruña vs Valencia CF,Deportivo de La Coruña,Deportivo de La Coruña,Valencia CF,1,1998
3,1998-09-20,Real Oviedo vs CD Tenerife,Real Oviedo,Real Oviedo,CD Tenerife,1,1998
4,1998-09-26,Athletic Bilbao vs Real Madrid,Athletic Bilbao,Athletic Bilbao,Real Madrid,1,1998
...,...,...,...,...,...,...,...
581,2004-05-16,Real Murcia CF vs Real Madrid CF,Real Murcia CF,Real Murcia CF,Real Madrid CF,1,2003
582,2004-05-23,Athletic Club vs Atlético de Madrid,Atlético de Madrid,Athletic Club,Atlético de Madrid,1,2003
583,2004-05-23,RC Celta de Vigo vs RCD Mallorca,RC Celta de Vigo,RC Celta de Vigo,RCD Mallorca,1,2003
584,2004-05-23,Real Madrid CF vs Real Sociedad,Real Madrid CF,Real Madrid CF,Real Sociedad,1,2003
585,2004-05-23,Real Madrid CF vs Real Sociedad,Real Sociedad,Real Madrid CF,Real Sociedad,1,2003

In [4]:
# Define function to standarize the name of the teams
def standard_teams(df):
    replacements = {
        'Albacete Balompié' : 'Albacete', 'Athletic Bilbao' : 'Athletic Club', 
        'CA ' : '', 'CD ' : '', 'CF ' : '', 'de ' : '', 
        'Deportivo Alavés' : 'Alavés', 
        ' CF' : '', 'FC ' : '', 
        'RC ' : '', 'REspanyol' : 'Espanyol',
        'Espanyol Barcelona' : 'Espanyol', 'RM' : 'M',
        ' Balompié' : '', 'Real Oviedo' : 'Oviedo', 
        'Real Racing Club ' : 'Racing Santander', 'Real Racing Club' : 'Racing Santander',
        'Real Z' : 'Z', 'Real Valladolid' : 'Valladolid',
        ' Huelva' : '', ' FC' : '', 'UD ' : '',
        'Real Betis' : 'Betis'
    }
    
    variables = ['HomeTeam', 'AwayTeam', 'TeamPenAtt', 'Partido']
    for vars in variables:
        for old_value, new_value in replacements.items():
            df[vars] = df[vars].str.replace(old_value, new_value, regex = True)

# Apply the function
standard_teams(penalties)

# Check
penalties["HomeTeam"].unique()

array(['Espanyol', 'Atlético Madrid', 'Deportivo La Coruña', 'Oviedo',
       'Athletic Club', 'Extremadura (- 2010)', 'Celta Vigo',
       'Real Sociedad', 'Barcelona', 'Zaragoza', 'Mallorca',
       'Real Madrid', 'Racing Santander', 'Villarreal', 'Tenerife',
       'Alavés', 'Betis', 'Salamanca (- 2013)', 'Valladolid', 'Valencia',
       'Sevilla', 'Málaga', 'Numancia', 'Rayo Vallecano', 'Las Palmas',
       'Osasuna', 'Recreativo', 'Real Murcia', 'Albacete'], dtype=object)

In [5]:
variables = ['HomeTeam', 'AwayTeam', 'TeamPenAtt', 'Partido']

# Adjust team names for Extremadura and Salamanca
for vars in variables:
    penalties[vars] = penalties[vars].str.replace(" (- 2013)", "", regex=False)
    penalties[vars] = penalties[vars].str.replace(" (- 2010)", "", regex=False)
    
# Check
penalties["HomeTeam"].unique()

array(['Espanyol', 'Atlético Madrid', 'Deportivo La Coruña', 'Oviedo',
       'Athletic Club', 'Extremadura', 'Celta Vigo', 'Real Sociedad',
       'Barcelona', 'Zaragoza', 'Mallorca', 'Real Madrid',
       'Racing Santander', 'Villarreal', 'Tenerife', 'Alavés', 'Betis',
       'Salamanca', 'Valladolid', 'Valencia', 'Sevilla', 'Málaga',
       'Numancia', 'Rayo Vallecano', 'Las Palmas', 'Osasuna',
       'Recreativo', 'Real Murcia', 'Albacete'], dtype=object)

In [6]:
# Define penalty kick attempt variables for Home and Away
penalties['HomeTotPKatt'] = np.where(penalties['TeamPenAtt'] == penalties['HomeTeam'], 
                                     penalties['Penatt'], 0)

penalties['AwayTotPKatt'] = np.where(penalties['TeamPenAtt'] == penalties['AwayTeam'], 
                                     penalties['Penatt'], 0)

# Define penalty kick conceded for Home and Away
penalties['HomeTotPKcon'] = penalties['AwayTotPKatt']
penalties['AwayTotPKcon'] = penalties['HomeTotPKatt']

# Rename and keep relevant variables
penalties = penalties.rename(columns = {'HomeTeam' : 'Home_Team', 'AwayTeam' : 'Away_Team'})

penalties = penalties[['Home_Team', 'Away_Team', 'Partido', 'Year', 'HomeTotPKatt',
                      'AwayTotPKatt', 'HomeTotPKcon', 'AwayTotPKcon']]

# Check
penalties

,Home_Team,Away_Team,Partido,Year,HomeTotPKatt,AwayTotPKatt,HomeTotPKcon,AwayTotPKcon
0,Espanyol,Tenerife,Espanyol vs Tenerife,1998,0,1,1,0
1,Atlético Madrid,Salamanca,Atlético Madrid vs Salamanca,1998,1,0,0,1
2,Deportivo La Coruña,Valencia,Deportivo La Coruña vs Valencia,1998,1,0,0,1
3,Oviedo,Tenerife,Oviedo vs Tenerife,1998,1,0,0,1
4,Athletic Club,Real Madrid,Athletic Club vs Real Madrid,1998,1,0,0,1
...,...,...,...,...,...,...,...,...
581,Real Murcia,Real Madrid,Real Murcia vs Real Madrid,2003,1,0,0,1
582,Athletic Club,Atlético Madrid,Athletic Club vs Atlético Madrid,2003,0,1,1,0
583,Celta Vigo,Mallorca,Celta Vigo vs Mallorca,2003,1,0,0,1
584,Real Madrid,Real Sociedad,Real Madrid vs Real Sociedad,2003,1,0,0,1
585,Real Madrid,Real Sociedad,Real Madrid vs Real Sociedad,2003,0,1,1,0

In [7]:
# Aggregate the penalty kicks attempted and conceded for every match
PenalesAtt9803 = penalties.groupby(['Partido', 'Year', 'Home_Team', 'Away_Team']).agg({
    'HomeTotPKatt': 'sum', 'AwayTotPKatt': 'sum', 'HomeTotPKcon': 'sum', 
    'AwayTotPKcon' : 'sum'}).reset_index()

# Check
PenalesAtt9803

,Partido,Year,Home_Team,Away_Team,HomeTotPKatt,AwayTotPKatt,HomeTotPKcon,AwayTotPKcon
0,Alavés vs Athletic Club,1999,Alavés,Athletic Club,1,1,1,1
1,Alavés vs Athletic Club,2000,Alavés,Athletic Club,1,0,0,1
2,Alavés vs Athletic Club,2001,Alavés,Athletic Club,0,1,1,0
3,Alavés vs Barcelona,2001,Alavés,Barcelona,1,0,0,1
4,Alavés vs Betis,1999,Alavés,Betis,1,0,0,1
...,...,...,...,...,...,...,...,...
523,Zaragoza vs Real Sociedad,2003,Zaragoza,Real Sociedad,1,0,0,1
524,Zaragoza vs Sevilla,2003,Zaragoza,Sevilla,1,1,1,1
525,Zaragoza vs Valencia,1999,Zaragoza,Valencia,0,1,1,0
526,Zaragoza vs Villarreal,2001,Zaragoza,Villarreal,1,0,0,1
527,Zaragoza vs Villarreal,2003,Zaragoza,Villarreal,0,1,1,0

In [8]:
PenalesAtt9803.describe()

              Year  HomeTotPKatt  AwayTotPKatt  HomeTotPKcon  AwayTotPKcon
count   528.000000    528.000000    528.000000    528.000000    528.000000
mean   2000.454545      0.683712      0.479167      0.479167      0.683712
std       1.712167      0.547861      0.540172      0.540172      0.547861
min    1998.000000      0.000000      0.000000      0.000000      0.000000
25%    1999.000000      0.000000      0.000000      0.000000      0.000000
50%    2000.000000      1.000000      0.000000      0.000000      1.000000
75%    2002.000000      1.000000      1.000000      1.000000      1.000000
max    2003.000000      2.000000      2.000000      2.000000      2.000000

# SCORED OR MISSED

In [9]:
typed = ['Scored', 'Missed']

scored = {}
missed = {}

aux = {'Scored': scored, 'Missed': missed}


for it in typed:
    for t in range(0, 10):
        
        # Import data
        filename = f"{it}.xlsx"
        filepath = os.path.join(r'Data\Transfermkt', filename)  # Use os.path.join to construct the path
        aux[it][t] = pd.read_excel(filepath, sheet_name = t)
        
        # Drop NaN obs on the Unnamed variable
        aux[it][t] = aux[it][t][aux[it][t]['Unnamed: 5'].notna()]
        
        # Define Year variable
        aux[it][t]['Year'] = t+2004
        
        # Rename Variables
        aux[it][t] = aux[it][t].rename(columns = {'Result' : 'Home_Team', 'Unnamed: 8' : 'Away_Team', 
                                                  'Penalty taker and Club' : 'PenaltyTaker'})
        
        # Keep relevant variables
        aux[it][t] = aux[it][t][['Year', 'Matchday', 'PenaltyTaker', 'Home_Team', 'Away_Team']]
        
        # Adjust variables
        aux[it][t]['PenaltyConc'] = np.where(aux[it][t]['Home_Team'] != aux[it][t]['PenaltyTaker'], 
                                     aux[it][t]['Home_Team'], aux[it][t]['Away_Team'])
        
        
        local = ['Home', 'Away']
        misv = ['PKMissed', 'PKconcM']
        scov = ['PKScored', 'PKconcS']
        
        # Adjust values
        if it == 'Missed':            
            for im in misv:
                for il in local:
                    var = il + im
                    team = il + "_Team"

                    if im == 'PKMissed':
                        aux[it][t][var] = np.where(aux[it][t][team] == aux[it][t]['PenaltyTaker'], 1, 0)
                    else:
                        aux[it][t][var] = np.where(aux[it][t][team] == aux[it][t]['PenaltyConc'], 1, 0)
        else:
            for iss in scov:
                for il in local:
                    var = il + iss
                    team = il + "_Team"
                    
                    if iss == 'PKScored':
                        aux[it][t][var] = np.where(aux[it][t][team] == aux[it][t]['PenaltyTaker'], 1, 0)
                    else:
                        aux[it][t][var] = np.where(aux[it][t][team] == aux[it][t]['PenaltyConc'], 1, 0)

In [10]:
missed = pd.concat(missed.values(), ignore_index = True)
scored = pd.concat(scored.values(), ignore_index = True)

In [11]:
#Standarize the name of the teams
def standard_teams(df):
    replacements = {
        'Albacete Balompié' : 'Albacete', 'Athletic Bilbao' : 'Athletic Club', 
        'Atlético de Madrid' : 'Atlético Madrid', 'CA Osasuna' : 'Osasuna',
        'Cádiz CF' : 'Cádiz', 'CD Numancia' : 'Numancia', 'CD Tenerife' : 'Tenerife', 
        'Celta de Vigo' : 'Celta Vigo', 'Deportivo Alavés' : 'Alavés',
        'Deportivo de La Coruña' : 'Deportivo La Coruña', 'Elche CF' : 'Elche',
        'FC Barcelona' : 'Barcelona', 'Getafe CF' : 'Getafe',
        'Gimnàstic de Tarragona' : 'Gimnàstic', 'Granada CF' : 'Granada',
        'Hércules CF' : 'Hércules', 'Levante UD' : 'Levante',
        'Málaga CF' : 'Málaga', 'RCD Espanyol Barcelona' : 'Espanyol',
        'RCD Mallorca' : 'Mallorca', 'Real Betis Balompié' : 'Betis',
        'Real Murcia CF' : 'Real Murcia', 'Real Valladolid CF' : 'Valladolid',
        'Real Zaragoza' : 'Zaragoza', 'Recreativo Huelva' : 'Recreativo',
        'Sevilla FC' : 'Sevilla', 'UD Almería' : 'Almería', 'Valencia CF' : 'Valencia',
        'Villarreal CF' : 'Villarreal', 'Xerez CD' : 'Xerez'
    }
    
    variables = ['Home_Team', 'Away_Team', 'PenaltyTaker', 'PenaltyConc']
    for vars in variables:
        for old_value, new_value in replacements.items():
            df[vars] = df[vars].str.replace(old_value, new_value, regex = True)

# Apply the function
standard_teams(missed)
standard_teams(scored)

# Merge Scored and Missed Penalties

In [12]:
#Merge Scored and Missed Penalties
conceded = pd.merge(missed, scored, on = ['Year', 'Matchday', 'Home_Team', 'Away_Team', 'PenaltyTaker', 'PenaltyConc'], 
                    how = 'outer')

In [13]:
# Sum the variables in tosum aggrouping by team, match, year
tosum = ['HomePKScored', 'AwayPKScored', 'HomePKconcS', 'AwayPKconcS',
               'HomePKMissed', 'AwayPKMissed', 'HomePKconcM', 'AwayPKconcM']

conceded = conceded.groupby(['Year', 'Matchday', 'Home_Team', 'Away_Team'])[tosum].sum().reset_index()

In [14]:
# Define variable for the Match information
conceded['Partido'] = conceded['Home_Team'] + " vs " + conceded['Away_Team']

In [15]:
# Adjust wrong info
conceded.loc[(conceded['Partido'] == 'Villarreal vs Valencia') & (conceded['Year'] == 2004), ['AwayPKMissed', 'HomePKconcM']] = [1, 1]
conceded.loc[(conceded['Partido'] == 'Barcelona vs Racing Santander') & (conceded['Year'] == 2005), ['AwayPKMissed', 'HomePKconcM']] = [1, 1]
conceded.loc[(conceded['Partido'] == 'Real Madrid vs Málaga') & (conceded['Year'] == 2008), ['AwayPKMissed', 'HomePKconcM']] = [1, 1]
conceded.loc[(conceded['Partido'] == 'Sevilla vs Athletic Club') & (conceded['Year'] == 2010), ['AwayPKMissed', 'HomePKconcM']] = [1, 1]
conceded.loc[(conceded['Partido'] == 'Real Madrid vs Sevilla') & (conceded['Year'] == 2013), ['AwayPKMissed', 'HomePKconcM']] = [1, 1]

In [16]:
# Adjusting variables
conceded['HomeTotPKcon'] = conceded['HomePKconcS'] + conceded['HomePKconcM']
conceded['AwayTotPKcon'] = conceded['AwayPKconcS'] + conceded['AwayPKconcM']

conceded['HomeTotPKatt'] = conceded['AwayTotPKcon']
conceded['AwayTotPKatt'] = conceded['HomeTotPKcon']

In [17]:
# Append with PenalesAtt9803
print(conceded.columns)
print(PenalesAtt9803.columns)

PenaltiesConceded = pd.concat([conceded, PenalesAtt9803])
PenaltiesConceded.reset_index(inplace = True)
PenaltiesConceded

Index(['Year', 'Matchday', 'Home_Team', 'Away_Team', 'HomePKScored',
       'AwayPKScored', 'HomePKconcS', 'AwayPKconcS', 'HomePKMissed',
       'AwayPKMissed', 'HomePKconcM', 'AwayPKconcM', 'Partido', 'HomeTotPKcon',
       'AwayTotPKcon', 'HomeTotPKatt', 'AwayTotPKatt'],
      dtype='object')
Index(['Partido', 'Year', 'Home_Team', 'Away_Team', 'HomeTotPKatt',
       'AwayTotPKatt', 'HomeTotPKcon', 'AwayTotPKcon'],
      dtype='object')

,index,Year,Matchday,Home_Team,Away_Team,HomePKScored,AwayPKScored,HomePKconcS,AwayPKconcS,HomePKMissed,AwayPKMissed,HomePKconcM,AwayPKconcM,Partido,HomeTotPKcon,AwayTotPKcon,HomeTotPKatt,AwayTotPKatt
0,0,2004,1.0,Espanyol,Deportivo La Coruña,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Espanyol vs Deportivo La Coruña,0.0,1.0,1.0,0.0
1,1,2004,1.0,Racing Santander,Barcelona,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,Racing Santander vs Barcelona,1.0,0.0,0.0,1.0
2,2,2004,2.0,Athletic Club,Valencia,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Athletic Club vs Valencia,0.0,1.0,1.0,0.0
3,3,2004,2.0,Deportivo La Coruña,Osasuna,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,Deportivo La Coruña vs Osasuna,1.0,0.0,0.0,1.0
4,4,2004,3.0,Espanyol,Real Madrid,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,Espanyol vs Real Madrid,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,523,2003,NaN,Zaragoza,Real Sociedad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zaragoza vs Real Sociedad,0.0,1.0,1.0,0.0
1426,524,2003,NaN,Zaragoza,Sevilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zaragoza vs Sevilla,1.0,1.0,1.0,1.0
1427,525,1999,NaN,Zaragoza,Valencia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zaragoza vs Valencia,1.0,0.0,0.0,1.0
1428,526,2001,NaN,Zaragoza,Villarreal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zaragoza vs Villarreal,0.0,1.0,1.0,0.0
1429,527,2003,NaN,Zaragoza,Villarreal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zaragoza vs Villarreal,1.0,0.0,0.0,1.0

In [18]:
# Keeping relevant variables
PenaltiesConceded = PenaltiesConceded[['Year', 'Matchday', 'Home_Team', 'Away_Team',
                     'HomeTotPKcon', 'AwayTotPKcon', 'HomeTotPKatt',
                     'AwayTotPKatt', 'Partido']]

PenaltiesConceded.columns

Index(['Year', 'Matchday', 'Home_Team', 'Away_Team', 'HomeTotPKcon',
       'AwayTotPKcon', 'HomeTotPKatt', 'AwayTotPKatt', 'Partido'],
      dtype='object')

In [19]:
PenaltiesConceded

,Year,Matchday,Home_Team,Away_Team,HomeTotPKcon,AwayTotPKcon,HomeTotPKatt,AwayTotPKatt,Partido
0,2004,1.0,Espanyol,Deportivo La Coruña,0.0,1.0,1.0,0.0,Espanyol vs Deportivo La Coruña
1,2004,1.0,Racing Santander,Barcelona,1.0,0.0,0.0,1.0,Racing Santander vs Barcelona
2,2004,2.0,Athletic Club,Valencia,0.0,1.0,1.0,0.0,Athletic Club vs Valencia
3,2004,2.0,Deportivo La Coruña,Osasuna,1.0,0.0,0.0,1.0,Deportivo La Coruña vs Osasuna
4,2004,3.0,Espanyol,Real Madrid,1.0,1.0,1.0,1.0,Espanyol vs Real Madrid
...,...,...,...,...,...,...,...,...,...
1425,2003,NaN,Zaragoza,Real Sociedad,0.0,1.0,1.0,0.0,Zaragoza vs Real Sociedad
1426,2003,NaN,Zaragoza,Sevilla,1.0,1.0,1.0,1.0,Zaragoza vs Sevilla
1427,1999,NaN,Zaragoza,Valencia,1.0,0.0,0.0,1.0,Zaragoza vs Valencia
1428,2001,NaN,Zaragoza,Villarreal,0.0,1.0,1.0,0.0,Zaragoza vs Villarreal
1429,2003,NaN,Zaragoza,Villarreal,1.0,0.0,0.0,1.0,Zaragoza vs Villarreal

In [20]:
# Save data
PenaltiesConceded.to_excel('Datasets/PenaltiesConceded.xlsx')